<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular SPA</title>
</head>

<body>


    <div class="container">
        <div class="row">            
            <div class="col-md-10">
                <h1>{{title}}</h1>
                <a routerLink="/customer">Customer</a>
                <a routerLink="/product">Product</a>
                <a routerLink="/student">Student</a>
                <br>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


</body>

</html>